<!DOCTYPE html>
<html>
  <head>
    <title><%= blocks.title %></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <header>
      <%- blocks.header %>
    </header>
    <section class="container">
    <%- partial('../partials/topNavigation') %>
      <h1><%= blocks.title %></h1>
      <%- body %>
    </section>
    <footer>
      <p><%= blocks.footer %></p>
    </footer>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
